In [30]:
#dependencies 
import pandas as pd

In [31]:
Female_Active_csv = "Jupyter Notebooks Data Analysis/Female Active.csv"
Female_Moderate_csv = "Jupyter Notebooks Data Analysis/Female Moderate Active.csv"
Female_Sedentary_csv = "Jupyter Notebooks Data Analysis/Female Sedentary.csv"
Male_Active_csv = "Jupyter Notebooks Data Analysis/Male Active.csv"
Male_Moderate_csv = "Jupyter Notebooks Data Analysis/Male Moderate Active.csv"
Male_Sedentary_csv = "Jupyter Notebooks Data Analysis/Male Sedentary.csv"

Female_Active_df = pd.read_csv(Female_Active_csv)
Female_Moderate_df = pd.read_csv(Female_Moderate_csv)
Female_Sedentary_df = pd.read_csv(Female_Sedentary_csv)
Male_Active_df = pd.read_csv(Male_Active_csv)
Male_Moderate_df = pd.read_csv(Male_Moderate_csv)
Male_Sedentary_df = pd.read_csv(Male_Sedentary_csv)

In [32]:
Female_Active_df.rename(columns={'Unnamed: 0': 'Restaurant', '61 =<': 'Active Female 61 or Older', '31 to 60': 'Active Female 31 to 60', '=< 14 to 30': 'Active Female 14 to 30'}, inplace=True)
Female_Active_df = Female_Active_df.set_index('Restaurant')
#located needed restaurants
Female_Active_df = Female_Active_df.loc[["Panera Bread","Smoothie King","Saladworks", "McAlister's Deli","Jamba Juice"]]
Female_Active_df

,Active Female 61 or Older,Active Female 31 to 60,Active Female 14 to 30
Restaurant,,,
Panera Bread,60.0,62.0,61.0
Smoothie King,64.0,64.0,64.0
Saladworks,60.0,60.0,61.0
McAlister's Deli,57.0,59.0,59.0
Jamba Juice,49.0,49.0,49.0

In [33]:
Female_Moderate_df.rename(columns={'Unnamed: 0': 'Restaurant', '51 =<': 'Moderately Active Female 51 and Older', '=< 14 to 18, 26 to 50': 'Moderately Active Female 14 to 18 and 26 to 50', '19 to 25': 'Moderately Active Female 19 to 25'}, inplace=True)
Female_Moderate_df = Female_Moderate_df.set_index('Restaurant')
#located needed restaurants
Female_Moderate_df = Female_Moderate_df.loc[["Panera Bread","Smoothie King","Saladworks", "McAlister's Deli","Jamba Juice"]]
Female_Moderate_df

,Moderately Active Female 51 and Older,Moderately Active Female 14 to 18 and 26 to 50,Moderately Active Female 19 to 25
Restaurant,,,
Panera Bread,57.0,60.0,62.0
Smoothie King,64.0,64.0,64.0
Saladworks,59.0,60.0,60.0
McAlister's Deli,57.0,57.0,59.0
Jamba Juice,49.0,49.0,49.0

In [34]:
Female_Sedentary_df.rename(columns={'Unnamed: 0': 'Restaurant', '51 =<': 'Sedentary Female 51 and Older', '=< 14 to 18, 26 to 50': 'Sedentary Female 14 to 18 and 26 to 50', '19 to 25': 'Sedentary Female 19 to 25'}, inplace=True)
Female_Sedentary_df = Female_Sedentary_df.set_index('Restaurant')
#located needed restaurants
Female_Sedentary_df = Female_Sedentary_df.loc[["Panera Bread","Smoothie King","Saladworks", "McAlister's Deli","Jamba Juice"]]
Female_Sedentary_df

,Sedentary Female 51 and Older,Sedentary Female 14 to 18 and 26 to 50,Sedentary Female 19 to 25
Restaurant,,,
Panera Bread,57.0,57.0,60.0
Smoothie King,62.0,64.0,64.0
Saladworks,61.0,59.0,60.0
McAlister's Deli,54.0,57.0,57.0
Jamba Juice,48.0,49.0,49.0

In [35]:
#FMAM_df is female active and moderate merged
FMAM_df = pd.merge(Female_Moderate_df,
                   Female_Active_df,
                   on = "Restaurant")
#Female_df is all female scores combined
Female_df = pd.merge(Female_Sedentary_df,
                   FMAM_df,
                   on = "Restaurant")
Female_df

,Sedentary Female 51 and Older,Sedentary Female 14 to 18 and 26 to 50,Sedentary Female 19 to 25,Moderately Active Female 51 and Older,Moderately Active Female 14 to 18 and 26 to 50,Moderately Active Female 19 to 25,Active Female 61 or Older,Active Female 31 to 60,Active Female 14 to 30
Restaurant,,,,,,,,,
Panera Bread,57.0,57.0,60.0,57.0,60.0,62.0,60.0,62.0,61.0
Smoothie King,62.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0
Saladworks,61.0,59.0,60.0,59.0,60.0,60.0,60.0,60.0,61.0
McAlister's Deli,54.0,57.0,57.0,57.0,57.0,59.0,57.0,59.0,59.0
Jamba Juice,48.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0

In [36]:
Male_Active_df.rename(columns={'Unnamed: 0': 'Restaurant', '76': 'Active Male 76 and Older', '56 to 76': 'Active Male 56 to 76', '=< 14, 36 - 55': 'Active Male 14 and 36 to 55', '15, 19 - 35': 'Active Male 15 and 19 to 35', '16 - 18': 'Active Male 16 to 18'}, inplace=True)
Male_Active_df = Male_Active_df.set_index('Restaurant')
#located needed restaurants
Male_Active_df = Male_Active_df.loc[["Panera Bread","Smoothie King","Saladworks", "McAlister's Deli","Jamba Juice"]]
Male_Active_df

,Active Male 76 and Older,Active Male 56 to 76,Active Male 14 and 36 to 55,Active Male 15 and 19 to 35,Active Male 16 to 18
Restaurant,,,,,
Panera Bread,61.0,59.0,59.0,59.0,59.0
Smoothie King,64.0,64.0,64.0,61.0,61.0
Saladworks,61.0,60.0,62.0,63.0,62.0
McAlister's Deli,59.0,59.0,59.0,60.0,60.0
Jamba Juice,49.0,49.0,49.0,49.0,48.0

In [37]:
Male_Moderate_df.rename(columns={'Unnamed: 0': 'Restaurant', '66 =<': 'Moderately Active Male 66 and Older', '=< 14, 46 to 65': 'Moderately Active Male 14 and 46 to 65', '15, 26 to 45': 'Moderately Active Male 15 and 26 to 45', '16 to 25': 'Moderately Active Male 16 to 25'}, inplace=True)
Male_Moderate_df = Male_Moderate_df.set_index('Restaurant')
#located needed restaurants
Male_Moderate_df = Male_Moderate_df.loc[["Panera Bread","Smoothie King","Saladworks", "McAlister's Deli","Jamba Juice"]]
Male_Moderate_df

,Moderately Active Male 66 and Older,Moderately Active Male 14 and 46 to 65,Moderately Active Male 15 and 26 to 45,Moderately Active Male 16 to 25
Restaurant,,,,
Panera Bread,62.0,61.0,59.0,59.0
Smoothie King,64.0,64.0,64.0,64.0
Saladworks,60.0,61.0,60.0,62.0
McAlister's Deli,59.0,59.0,59.0,59.0
Jamba Juice,49.0,49.0,49.0,49.0

In [39]:
Male_Sedentary_df.rename(columns={'Unnamed: 0': 'Restaurant', '=< 14 and 61 =<': 'Sedentary Male 14 and 61 and Older', '15, 41 to 60': 'Sedentary Male 15 and 41 to 60', '16 to 18, 21 to 40': 'Sedentary Male 16 to 18 and 21 to 40', '19 to 20': 'Sedentary Male 19 to 20'}, inplace=True)
Male_Sedentary_df = Male_Sedentary_df.set_index('Restaurant')
#located needed restaurants
Male_Sedentary_df = Male_Sedentary_df.loc[["Panera Bread","Smoothie King","Saladworks", "McAlister's Deli","Jamba Juice"]]
Male_Sedentary_df

,Sedentary Male 14 and 61 and Older,Sedentary Male 15 and 41 to 60,Sedentary Male 16 to 18 and 21 to 40,Sedentary Male 19 to 20
Restaurant,,,,
Panera Bread,60.0,62.0,61.0,59.0
Smoothie King,64.0,64.0,64.0,64.0
Saladworks,60.0,60.0,61.0,60.0
McAlister's Deli,57.0,59.0,59.0,59.0
Jamba Juice,49.0,49.0,49.0,49.0

In [43]:
#Malessm_df is Male_Sedentary_df and Male_Moderate_df merged
Malesm_df = pd.merge(Male_Sedentary_df,
                   Male_Moderate_df,
                   on = "Restaurant")
Male_df =  pd.merge(Malesm_df,
                   Male_Active_df,
                   on = "Restaurant")
Male_df

,Sedentary Male 14 and 61 and Older,Sedentary Male 15 and 41 to 60,Sedentary Male 16 to 18 and 21 to 40,Sedentary Male 19 to 20,Moderately Active Male 66 and Older,Moderately Active Male 14 and 46 to 65,Moderately Active Male 15 and 26 to 45,Moderately Active Male 16 to 25,Active Male 76 and Older,Active Male 56 to 76,Active Male 14 and 36 to 55,Active Male 15 and 19 to 35,Active Male 16 to 18
Restaurant,,,,,,,,,,,,,
Panera Bread,60.0,62.0,61.0,59.0,62.0,61.0,59.0,59.0,61.0,59.0,59.0,59.0,59.0
Smoothie King,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,61.0,61.0
Saladworks,60.0,60.0,61.0,60.0,60.0,61.0,60.0,62.0,61.0,60.0,62.0,63.0,62.0
McAlister's Deli,57.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,60.0,60.0
Jamba Juice,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,48.0

In [44]:
gender_df = pd.merge(Male_df,
                   Female_df,
                   on = "Restaurant")
gender_df

,Sedentary Male 14 and 61 and Older,Sedentary Male 15 and 41 to 60,Sedentary Male 16 to 18 and 21 to 40,Sedentary Male 19 to 20,Moderately Active Male 66 and Older,Moderately Active Male 14 and 46 to 65,Moderately Active Male 15 and 26 to 45,Moderately Active Male 16 to 25,Active Male 76 and Older,Active Male 56 to 76,...,Active Male 16 to 18,Sedentary Female 51 and Older,Sedentary Female 14 to 18 and 26 to 50,Sedentary Female 19 to 25,Moderately Active Female 51 and Older,Moderately Active Female 14 to 18 and 26 to 50,Moderately Active Female 19 to 25,Active Female 61 or Older,Active Female 31 to 60,Active Female 14 to 30
Restaurant,,,,,,,,,,,,,,,,,,,,,
Panera Bread,60.0,62.0,61.0,59.0,62.0,61.0,59.0,59.0,61.0,59.0,...,59.0,57.0,57.0,60.0,57.0,60.0,62.0,60.0,62.0,61.0
Smoothie King,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,...,61.0,62.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0,64.0
Saladworks,60.0,60.0,61.0,60.0,60.0,61.0,60.0,62.0,61.0,60.0,...,62.0,61.0,59.0,60.0,59.0,60.0,60.0,60.0,60.0,61.0
McAlister's Deli,57.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,...,60.0,54.0,57.0,57.0,57.0,57.0,59.0,57.0,59.0,59.0
Jamba Juice,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,...,48.0,48.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0

In [ ]:
gender_df.to_csv("Resources/CSVs/gender_df.csv", index=True, header=True)
Male_df.to_csv("Resources/CSVs/Male_df.csv", index=True, header=TrueFemale_df.to_csv("Resources/CSVs/Male_df.csv", index=True, header=True)
                   Female_df