In [1]:
import pandas as pd

import ast

In [2]:
foodRaw_df = pd.read_csv('smoothies.csv')

foodRaw_df.head()

,Unnamed: 0,Restaurant,Food_Name,Nutrients,Calories
0,0,Auntie Anne's,"Mango Smoothie, 32 fl oz","[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",470
1,1,Auntie Anne's,"Strawberry Smoothie, 16 fl oz","[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",220
2,2,Auntie Anne's,"Strawberry Smoothie, 20 fl oz","[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",290
3,3,Auntie Anne's,"Mango Smoothie, 16 fl oz","[{'value': 0, 'attr_id': 203}, {'value': 0, 'a...",230
4,4,Auntie Anne's,"Strawberry Smoothie, 32 fl oz","[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",440

In [5]:
nutrient_map = pd.read_csv('Nutritionix API v2 - Full Nutrient USDA Field Mapping.csv')

nutrient_map = nutrient_map.set_index('attr_id')

nutrient_map.head()

,2018 NFP,usda_tag,name,unit,notes,bulk_csv_field,cxh_attribute_name,Unnamed: 8
attr_id,,,,,,,,
203,1.0,PROCNT,Protein,g,NaN,nf_protein,PRO-,NaN
204,1.0,FAT,Total lipid (fat),g,NaN,nf_total_fat,FAT,NaN
205,1.0,CHOCDF,"Carbohydrate, by difference",g,NaN,nf_total_carbohydrate,CHO-,NaN
207,0.0,ASH,Ash,g,NaN,NaN,NaN,NaN
208,1.0,ENERC_KCAL,Energy,kcal,NaN,nf_calories,ENER-,NaN

In [87]:
for index,row in foodRaw_df.iterrows(): #iterate each index and row.
    
    nutrients = ast.literal_eval(row['Nutrients']) #The original column was as string. ast.literal_eval -->interprets "strings, bytes, numbers, tuples, lists, dicts, sets, booleans, and None." and returns it in the right format.. Anything else is an error.
    
    for nutrient in nutrients: #Iterates each of the nutrients dictionaries. 
        
        name = nutrient_map.loc[nutrient['attr_id'],'name'] #locates the name in the nutrient_map csv. 
        value = nutrient['value'] 
        
        
        if name in foodRaw_df.columns: #if the nutrient is a DataFrame column.   
            foodRaw_df.loc[index,name] = value  #Adds the value and unit.
        
        else: #if the nutrient is not in the DataFrame
            foodRaw_df[name] =''
            foodRaw_df.loc[index,name] = value
        
food_df = foodRaw_df.replace(r"^\s*$", 0, regex = True) #Finds and replace empty cells with 0. empty cell pattern = r"^\s*$"
food_df.reset_index(drop=True)
food_df.drop('Unnamed: 0', axis=1, inplace=True)
food_df = food_df.loc[food_df['Restaurant']== 'Smoothie King'] #Select restaurant


food_df.head(50)

,Restaurant,Food_Name,Nutrients,Calories,Protein,Total lipid (fat),"Carbohydrate, by difference",Energy,"Sugars, total","Fiber, total dietary","Calcium, Ca","Iron, Fe","Sodium, Na","Vitamin A, IU","Vitamin C, total ascorbic acid",Cholesterol,"Fatty acids, total trans","Fatty acids, total saturated"
97,Smoothie King,Gladiator Smoothie,"[{'value': 45, 'attr_id': 203}, {'value': 0, '...",180,"[45, g]","[0, g]","[1, g]","[180, g]","[0, g]","[0, g]",0,0,"[150, g]",0,0,"[0, g]",0,"[0, g]"
98,Smoothie King,MangoFest Smoothie,"[{'value': 0, 'attr_id': 203}, {'value': 0, 'a...",290,"[0, g]","[0, g]","[72, g]","[290, g]","[59, g]","[1, g]",0,0,"[10, g]",0,0,"[0, g]",0,"[0, g]"
99,Smoothie King,Blueberry Heaven Smoothie,"[{'value': 7, 'attr_id': 203}, {'value': 1, 'a...",330,"[7, g]","[1, g]","[73, g]","[330, g]","[64, g]","[2, g]",0,0,"[260, g]",0,0,"[10, g]",0,"[0, g]"
100,Smoothie King,Caribbean Way Smoothie,"[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",400,"[1, g]","[0, g]","[97, g]","[400, g]","[89, g]","[6, g]",0,0,"[0, g]",0,0,"[0, g]",0,"[0, g]"
101,Smoothie King,Fruit Fusion Smoothie,"[{'value': 9, 'attr_id': 203}, {'value': 1, 'a...",360,"[9, g]","[1, g]","[76, g]","[360, g]","[66, g]","[0, g]",0,0,"[300, g]",0,0,"[10, g]",0,"[0, g]"
102,Smoothie King,Mangosteen Madness Smoothie,"[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",380,"[1, g]","[0, g]","[94, g]","[380, g]","[92, g]","[2, g]",0,0,"[30, g]",0,0,"[0, g]",0,"[0, g]"
103,Smoothie King,Acai Adventure Smoothie,"[{'value': 5, 'attr_id': 203}, {'value': 5, 'a...",440,"[5, g]","[5, g]","[92, g]","[440, g]","[75, g]","[4, g]",0,0,"[160, g]",0,0,"[5, g]",0,"[1, g]"
104,Smoothie King,Island Impact Smoothie,"[{'value': 3, 'attr_id': 203}, {'value': 1, 'a...",310,"[3, g]","[1, g]","[73, g]","[310, g]","[65, g]","[1, g]",0,0,"[140, g]",0,0,"[5, g]",0,"[0, g]"
105,Smoothie King,Pineapple Surf Smoothie,"[{'value': 7, 'attr_id': 203}, {'value': 1, 'a...",460,"[7, g]","[1, g]","[104, g]","[460, g]","[92, g]","[4, g]",0,0,"[280, g]",0,0,"[10, g]",0,"[0, g]"
106,Smoothie King,Raspberry Collider Smoothie,"[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",340,"[1, g]","[0, g]","[86, g]","[340, g]","[74, g]","[4, g]",0,0,"[100, g]",0,0,"[0, g]",0,"[0, g]"
107,Smoothie King,Angel Food Smoothie,"[{'value': 4, 'attr_id': 203}, {'value': 0, 'a...",350,"[4, g]","[0, g]","[84, g]","[350, g]","[75, g]","[6, g]",0,0,"[50, g]",0,0,"[0, g]",0,"[0, g]"
108,Smoothie King,Immune Builder Smoothie,"[{'value': 5, 'attr_id': 203}, {'value': 1, 'a...",380,"[5, g]","[1, g]","[89, g]","[380, g]","[77, g]","[6, g]",0,0,"[55, g]",0,0,"[0, g]",0,"[0, g]"
109,Smoothie King,Lean1 Chocolate Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 11, ...",290,"[22, g]","[11, g]","[28, g]","[290, g]","[18, g]","[7, g]",0,0,"[320, g]",0,0,"[5, g]",0,"[1, g]"
110,Smoothie King,Pineapple Pleasure Smoothie,"[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",280,"[1, g]","[0, g]","[67, g]","[280, g]","[62, g]","[3, g]",0,0,"[25, g]",0,0,"[0, g]",0,"[0, g]"
111,Smoothie King,Banana Boat Smoothie,"[{'value': 12, 'attr_id': 203}, {'value': 4, '...",480,"[12, g]","[4, g]","[101, g]","[480, g]","[77, g]","[3, g]",0,0,"[320, g]",0,0,"[20, g]",0,"[6, g]"
112,Smoothie King,Lean1 Strawberry Smoothie,"[{'value': 20, 'attr_id': 203}, {'value': 6, '...",280,"[20, g]","[6, g]","[35, g]","[280, g]","[28, g]","[5, g]",0,0,"[320, g]",0,0,"[5, g]",0,"[1, g]"
113,Smoothie King,Passion Passport Smoothie,"[{'value': 1, 'attr_id': 203}, {'value': 0, 'a...",400,"[1, g]","[0, g]","[96, g]","[400, g]","[93, g]","[2, g]",0,0,"[15, g]",0,0,"[0, g]",0,"[0, g]"
114,Smoothie King,Berry Punch Smoothie,"[{'value': 0, 'attr_id': 203}, {'value': 0, 'a...",360,"[0, g]","[0, g]","[91, g]","[360, g]","[84, g]","[4, g]",0,0,"[95, g]",0,0,"[0, g]",0,"[0, g]"
115,Smoothie King,Hearty Apple Smoothie,"[{'value': 9, 'attr_id': 203}, {'value': 1, 'a...",410,"[9, g]","[1, g]","[86, g]","[410, g]","[75, g]","[2, g]",0,0,"[270, g]",0,0,"[15, g]",0,"[0, g]"
116,Smoothie King,Lean1 Vanilla Smoothie,"[{'value': 22, 'attr_id': 203}, {'value': 10, ...",270,"[22, g]","[10, g]","[26, g]","[270, g]","[17, g]","[5, g]",0,0,"[320, g]",0,0,"[5, g]",0,"[1, g]"