In [1]:
import pandas as pd

import ast

In [2]:
foodRaw_df = pd.read_csv('pizza.csv')

foodRaw_df.head()

,Unnamed: 0,Restaurant,Food_Name,Nutrients,Calories
0,0,Subway,Cheese Pizza,"[{'value': 28, 'attr_id': 203}, {'value': 23, ...",720
1,1,Subway,Sausage Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 35, ...",860
2,2,Subway,Meatball Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 33, ...",860
3,3,Subway,Pepperoni Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 33, ...",840
4,4,Subway,Bacon Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 31, ...",840

In [3]:
nutrient_map = pd.read_csv('Nutritionix API v2 - Full Nutrient USDA Field Mapping.csv')

nutrient_map = nutrient_map.set_index('attr_id')

nutrient_map.head()

,2018 NFP,usda_tag,name,unit,notes,bulk_csv_field,cxh_attribute_name,Unnamed: 8
attr_id,,,,,,,,
203,1.0,PROCNT,Protein,g,NaN,nf_protein,PRO-,NaN
204,1.0,FAT,Total lipid (fat),g,NaN,nf_total_fat,FAT,NaN
205,1.0,CHOCDF,"Carbohydrate, by difference",g,NaN,nf_total_carbohydrate,CHO-,NaN
207,0.0,ASH,Ash,g,NaN,NaN,NaN,NaN
208,1.0,ENERC_KCAL,Energy,kcal,NaN,nf_calories,ENER-,NaN

In [30]:
for index,row in foodRaw_df.iterrows(): #iterate each index and row.
    
    nutrients = ast.literal_eval(row['Nutrients']) #The original column was as string. ast.literal_eval -->interprets "strings, bytes, numbers, tuples, lists, dicts, sets, booleans, and None." and returns it in the right format.. Anything else is an error.
    
    for nutrient in nutrients: #Iterates each of the nutrients dictionaries. 
        
        name = nutrient_map.loc[nutrient['attr_id'],'name'] #locates the name in the nutrient_map csv. 
        value = nutrient['value'] 
        
        if name in foodRaw_df.columns: #if the nutrient is a DataFrame column.
                
            foodRaw_df.loc[index,name] = value #Adds the value. 
        
        else: #if the nutrient is not in the DataFrame
            foodRaw_df[name] =''
            foodRaw_df.loc[index,name] = value
        
food_df = foodRaw_df.replace(r"^\s*$", 0, regex = True) #Finds and replace empty cells with 0. empty cell pattern = r"^\s*$"

food_df

,Unnamed: 0,Restaurant,Food_Name,Nutrients,Calories,Protein,Total lipid (fat),"Carbohydrate, by difference",Energy,"Sugars, total","Fiber, total dietary","Calcium, Ca","Iron, Fe","Sodium, Na","Vitamin A, IU","Vitamin C, total ascorbic acid",Cholesterol,"Fatty acids, total trans","Fatty acids, total saturated"
0,0,Subway,Cheese Pizza,"[{'value': 28, 'attr_id': 203}, {'value': 23, ...",720,28,23.0,97,720,7,4,520,7.2,1530,1000,9.0,50,0.5,9.0
1,1,Subway,Sausage Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 35, ...",860,35,35.0,98,860,8,4,650,7.2,1870,1000,9.0,80,0.5,14.0
2,2,Subway,Meatball Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 33, ...",860,37,33.0,100,860,7,5,650,8.1,1840,1000,9.0,80,1.0,14.0
3,3,Subway,Pepperoni Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 33, ...",840,35,33.0,97,840,8,4,650,7.2,1800,1000,9.0,70,1.0,13.0
4,4,Subway,Bacon Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 31, ...",840,37,31.0,98,840,8,4,650,7.2,2060,1000,9.0,70,0.5,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,435,Extreme Pizza,"Holy Cow! Pizza, Huge 18 inch","[{'value': 49, 'attr_id': 205}, {'value': 510,...",510,0,0.0,49,510,0,0,0,0.0,710,0,0.0,0,0.0,11.0
436,436,Extreme Pizza,"Paia Pie Pizza, Huge 18 inch","[{'value': 59, 'attr_id': 205}, {'value': 430,...",430,0,0.0,59,430,0,0,0,0.0,830,0,0.0,0,0.0,8.0
437,437,Extreme Pizza,"Pandora's Box Pizza, Large 14 inch","[{'value': 38, 'attr_id': 205}, {'value': 270,...",270,0,0.0,38,270,0,0,0,0.0,610,0,0.0,0,0.0,4.5
438,438,Fazoli's,Cheese Pizza Slice,"[{'value': 15, 'attr_id': 203}, {'value': 14, ...",310,15,14.0,32,310,3,2,325,2.7,620,0,3.6,30,0.5,7.0
439,439,Fazoli's,Pepperoni Pizza Slice,"[{'value': 14, 'attr_id': 203}, {'value': 15, ...",320,14,15.0,32,320,3,2,260,2.7,720,0,3.6,30,0.5,7.0